@use '@/assets/styles/variables.scss' as *;

.container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  min-width: 200px;
  max-width: 30%;
  display: flex;
  align-items: center;
  gap: 32px;
  border-radius: 20px;
  box-shadow: $shadow;

  .error {
    background-color: red;
  }
  .warning {
    background-color: yellow;
  }
  .success {
    background-color: green;
  }

  img {
    max-width: 48px;
    aspect-ratio: 1;
    object-fit: contain;
  }
}
