@use '@/assets/styles/variables.scss' as *;

@font-face {
  font-family: $body-font-family-light;
  src: url(./assets/fonts/HelveticaNeueLight.otf) format('opentype');
  font-style: normal;
}
@font-face {
  font-family: $body-font-family;
  src: url(./assets/fonts/HelveticaNeueRoman.otf) format('opentype');
  font-style: normal;
}
@font-face {
  font-family: $body-font-family-bold;
  src: url(./assets/fonts/HelveticaNeueBold.otf) format('opentype');
  font-style: normal;
}

#root {
  background-color: $background;
  background-size: cover;
  background-attachment: fixed;
}

:root {
  font-family: $body-font-family, Helvetica, Inter;
  line-height: 1.5;
  font-weight: 400;

  background-color: $background;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
